/* src/styles/buttons.css */

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Increased margin for better spacing */
}

button {
  position: relative;
  overflow: hidden;
}

button:focus {
  outline: none;
}

button:active::after {
  content: '';
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  width: 300%;
  height: 300%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ripple 0.6s linear;
}

@keyframes ripple {
  from {
    width: 0;
    height: 0;
    opacity: 0.5;
  }
  to {
    width: 300%;
    height: 300%;
    opacity: 0;
  }
}

button:hover {
  background-color: var(--accent-color);
  transform: translateY(-3px); /* Slightly more pronounced hover effect */
}

button:active {
  transform: translateY(0); /* Reset transform on active */
}

.ask-question-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.ask-question-container button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: white;
  border: none;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ask-question-container button:hover {
  background-color: var(--accent-color);
  transform: translateY(-2px);
}

.ask-question-container button.recording {
  background-color: var(--accent-color);
}
